#
# version: 23.10.2
#
#
# custom
#
.tests/
#
# idea
#
.idea/
#
# node
#
node_modules
#
# svelte
#
.svelte
.svelte-kit
#
# temp
#
build
.DS_Store
*.elf
dist
*.log
*-lock.*
target
tmp
*.lock
vendor
*.zst
#
# vscode
#
.vscode/
#
# yarn
#
.yarn/
.yarnrc.yml